<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styleslogin.css">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Profile|Add</title>
</head>
<body>
    <!-- <%=user.displayName%> -->
    <form action="/profile/<%=user.id%>" method="POST">
        <div>
            <label>UserName</label>
            <input type="text" name="title" id="title" value="<%=user.displayName%>">
        </div>
        <div>
            <label>Description</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <!-- <div>
            <input type="file" name="image" />
        </div> -->

        <button type="submit" value="save" class="btn">Update</button>
        <a href="/dashboard" class="btn orange">Cancel</a>
    </form>
</body>
</html>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.FormSelect.init(document.querySelector('#status'));
        });
    </script>